<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Form Page</title>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        form {
            margin-top: 50px;
        }

        input {
            margin: 5px;
            padding: 8px;
            font-size: 16px;
        }
    </style>
</head>

<body>

    <h1>Update Form PAge</h1>
    <form method="post" action="/update" align="center">
        <input type="hidden" name="id" value="<%= user.id %>">
        <input type="text" name="name" required placeholder="Enter Your name." value="<%= user.name %>">
        <input type="Email" name="email" required placeholder="Enter Your Email." value="<%= user.email %>">
        <input type="password" name="password" required placeholder="Enter Your Password." value="<%= user.password %>">
        <input type="number" name="phone" required placeholder="Enter Your phone." value="<%= user.phone %>">
        <br><br>
        <a href="/"><input type="submit"></input></a>
    </form>
</body>

</html>